body {
    background-color: #ddd;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 1.2rem;
}

.container {
    padding: 15px;
    max-width: 60%;
    margin: 50px auto;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
}

.options {
    display: flex;
    flex-wrap: wrap;
}

.options label {
    flex-basis: 50%;
}

.options input[type="checkbox"] {
    margin-right: 5px;
}

.senha {
    padding: 20px;
    margin: 20px auto;
    position: relative;
}

#gerarSenhaBtn {
    width: fit-content;
    margin: auto;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

#gerarSenhaBtn:hover {
    background-color: #0056b3;
}

#copiarSenha {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}